<div class="trip-input">
  <input [(ngModel)]="newTrip.start" maxlength="3" placeholder="Start (e.g. BLR)" />
  <input [(ngModel)]="newTrip.end" maxlength="3" placeholder="End (e.g. HYD)" />
  <button (click)="addTrip()">Add Trip</button>
</div>

<div class="trip-timeline">
  <ng-container *ngFor="let trip of trips; let i = index">
    <div class="trip-segment" [ngClass]="getTripClass(i)">
      <div class="dot"></div>
      <div class="line" [ngClass]="{ arrow: isArrow(i) }"></div>
      <div class="label">{{ trip.start.toUpperCase() }} - {{ trip.end.toUpperCase() }}</div>
    </div>
  </ng-container>
</div>
